body {
  margin: 15px;
  box-sizing: border-box;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  min-width: 300px;
}

caption {
  border: 2px solid #000;
  border-bottom: 0;
  font-weight: 600;
  font-size: 20px;
  background-color: rgb(100, 210, 238);
}

th,
td,
tr {
  border: 2px solid #000;
  border-spacing: 0;
  padding: 4px;
}

.saturday,
.sunday {
  color: red;
}

.holiday {
  background-color: rgb(239, 65, 65);
}

.weekend {
  color: red;
}
