body {
    background: #3d2929dc;
    box-sizing: 100%;
}

.container__text {
    color: white;
}

.container__el1 {
    height: 100px;
    width: 100px;
    background: red;
    border-radius: 100%;
}

.container__el2 {
    height: 100px;
    background: white;
    width: 600px;
    margin: 0 50px 100px 0;
}
.container__el2 {
    position: fixed;
    left: 50%;
    z-index: 100;
}

.container__el1 {
    position: absolute;
    left: 20%;
    z-index: 10;
    bottom: 50px;
}