html {
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
}

.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__nav {
  display: inline-flex;
  gap: 20px;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
  border-bottom: 1px solid #3b778186;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.header__logo {
  height: 70px;
  width: 70px;
  background-color: #000;
  margin: 20px 0;
}

.header__items {
  color: black;
}

.header__tel {
  text-decoration: none;
  color: #000;
}
