* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 0;
}

.header {
  background-color: #f00;
  min-height: 100px;
  grid-row: 1;
  grid-column: 1 / 12 span;
}

.aside {
  background-color: #e2e20d;
  grid-row: 2;
  grid-column: 1 / 2 span;
}

.main {
  background-color: #31bb0a;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-row: 2;
  grid-column: 3 / 10 span;
}

.main .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.article {
  background-color: #de6e05;
  min-height: 350px;
}

.footer {
  background-color: #0b2fe2;
  grid-row: 3;
  grid-column: 1 / 12 span;
  min-height: 350px;
}

@media (width <= 1200px) {
  .aside {
    grid-column: 1 / 3 span;
  }

  .main {
    grid-column: 4 / 9 span;
  }

  .main .container {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media (width <= 768px) {
  .aside {
    display: none;
  }

  .main {
    grid-column: 1 / 12 span;
  }

  .main .container {
    min-height: 300px;
  }
}
